@{
    ViewData["Title"] = "Home Page";
}

<div id="homepage" class="text-center p-4">
    <h1 class="display-4">Välkommen till Grupp 2 Garaget!</h1>

    <h4>Använd menyn för att se runt i garaget</h4>
    </div>
