@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Grupp 2 Garaget!</h1>
    <hr />
    <h4>Använd menyn för att se runt i garaget</h4>
    </div>
