@model Garage_2._0.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Parkera</h1>
<h4>Nytt fordon</h4>
<hr />
<div>
        <form asp-action="Create">
            <div class="row">
                <div class="d-inline-block">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="RegNum" class="control-label"></label>
                        <input asp-for="RegNum" class="form-control" />
                        <span asp-validation-for="RegNum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VehicleType" class="control-label"></label>
                        @*asp-items="@Model.VehicleType"*@
                        <select asp-items="@Html.GetEnumSelectList<EnumType>()" class="form-control">
                            <option selected="selected" value="">Välj Fordon...</option>
                        </select>
                    </div>
                        <partial name="InputFieldsPartial" model="@Model" />

                        <div class="form-group">
                            <input type="submit" value="Parkera" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
</form>
</div>
<div>
    <a asp-action="GetOverviewModel">Tillbaka till översikt</a>
</div>

@*<select asp-for="Genre" asp-items="@Model.Genres" class="form-control">
    <option selected="selected" value="">Please select</option>
</select>*@


