@model Garage_2._0.Models.Vehicle

<div>
    <h2>Ändringar sparades</h2>

    <h5>@Model.RegNum har ändrats</h5>
</div>
<div>
    <a asp-action="GetOverviewModel">Tillbaka till översikt </a> |
    <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@Model.Id"> Visa detaljer</a>
</div>